<!DOCTYPE html>
  <head>
    {% load widget_tweaks %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>New</title>
  </head>

  <header>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" id="page_payments_id" href="/">Payments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" id="page_new_id" href="/new/">New</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="page_history_id" href="/history/">History</a>
      </li>
    </ul>
  </header>
  <body>
    <form action="/new/" method="POST" class="form-group">
      {% csrf_token %}
      <div class="form-control form-control-lg">
        <strong>Full name:</strong>
        {% render_field form.cardholders_name type="input" %}
      </div>
      <div class="form-control form-control-lg">
        <strong>Card number:</strong>
        {% render_field form.card_number type="input" %}
      </div>
      <div class="form-control form-control-lg">
        <strong>Amount (in €):</strong>
        {% render_field form.card_balance type="input" %}
      </div>
      <input type="submit" value="Submit" class="form-control btn btn-primary">
    </form>
  </body>
</html>